*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
}

main{
    min-height: 70vh;
}

:root{
    --primary-color:rgb(0, 122, 16);
    --second-color:rgb(2, 58, 39);
    --text-color:rgb(149, 221, 90);
}


.footer{
    background-color: var(--second-color);
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .social img{
    mix-blend-mode: multiply;
    width: 10rem;
    margin-top: 1rem;
}

.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    background-color: var(--primary-color);
}

.footer .social h3{
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer .social a{
    font-size: 25px;
    color: #046b00;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: var(--text-color);
}

.footer ul{
    background-color: var(--second-color);
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: -10px;
    text-align: center;
}

.footer ul h3{
    color: #ffffff;
    background-color: var(--second-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer ul li a{
    background-color: var(--second-color);
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 2px solid var(--text-color);
}

.footer ul li{
    background-color: var(--second-color);
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    background-color: var(--second-color);
    margin-top: 50px;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 16px;
    color: #fff;
}